*~
*.abcl
*.fas
*.fasl
*.*fsl
*.lib
*.sse2f
/test/simple-test/loaddefs.lisp
/test/package-test/loaddefs.lisp
/test/test-system/loaddefs.lisp
/test/test-system/manual-loaddefs.lisp
/test/test-system/full.lisp
